<!-- cms itemsGrp -->

<template name="itemsGrpCms">
	{{cmsTabs}}
	{{> cmsPage}}
</template>


<template name="cmsItemsGrpPage">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListA}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsItemsGrpGroups">

	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListC}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


<template name="cmsItemsGrpProducts">

	{{> cmsGroupNav}}

	<div id='main-list'>
		{{> cmsLanguage}}
		<!--
		{{group}}
		-->
		{{> cmsListB2}}
	</div>
	{{editTabs}}
	{{> editPage}}
</template>


