<!-- itemsGrp		/main -->
<template name="itemsGrp">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each page}}
			
				{{#if is_equal pageName 'interieur'}} {{> itemsGrp_QuoteTop}} {{/if}}
			
				<div id="objecten">
					{{#each thumb}}
						
						<div class="object">
							<div class="object-foto">
								<a href="{{currentURL}}/{{slug}}" class="btn">
									{{#each image}}
										<img src="{{this.url store='imagesThumb'}}" width="290" height="300" alt=""/>
									{{/each}}
								</a>
							</div>
							<div class="object-tekst">
								<h2><em class="tekst-heelklein">{{dateText}}</em></h2>
								<h2>{{groupName}}</h2>
								<p><a href="{{currentURL}}/{{slug}}" class="btn">{{subTitle}}</a></p>
							</div>
						</div>

					{{/each}}
				</div><!--einde objecten -->
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


<!-- /main/group -->
<template name="itemsGrp_slug1">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each page}}
				<div id="objecten">
					{{#each thumb}}
						
						<div class="object">
							<div class="object-foto">
								<a href="{{currentURL}}/{{slug}}" class="btn">
									{{#each image}}
										<img src="{{this.url store='imagesThumb'}}" width="290" height="300" alt=""/>
									{{/each}}
								</a>
							</div>
							<div class="object-tekst">
								<h2><em class="tekst-heelklein">{{dateText}}</em></h2>
								<h2>{{title}}</h2>
								<p><a href="{{currentURL}}/{{slug}}" class="btn">{{subTitle}}</a></p>
							</div>
						</div>

					{{/each}}
				</div><!--einde objecten -->
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


<!-- /main/group/item -->
<template name="itemsGrp_slug2">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each item}}
			  {{> items_slider}}
				<div id="titel" style="background-image:none">
					<h1>{{title}}</h1>
				</div>
				<div id="content">
					<div id="tekst-links">
						{{{detailL}}}
					</div>
					<div id="tekst-rechts" style="font-style:italic; font-size:17px;">
						{{{detailR}}}
						{{> uitvoeringen}}
					</div>
				</div>
			  {{> items_bestellen}}
				<div class="tekst-midden">
					<h2><a href="#" class="btn ff-tisa-web-pro">Terug naar overzicht</a></h2>
				</div>
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>




<!-- quote on top -->
<template name="itemsGrp_QuoteTop">
	<div id="content">
		<div id="tekst-links">
			{{{textL}}}
		</div><!--tekst-links -->
			<div id="tekst-rechts">
			{{{textR}}}
		</div>
		<!--tekst-rechts -->
	</div><!--einde content -->
</template>



