@charset "UTF-8";

* {
	margin: 0;
}
html, body {
  height: 100%;
  width: 100%;
  padding: 0;
}
a img  {  
	border: none;  
}
body {
	background-image: url(/front/images-design/bg-body.gif);
	background-repeat: repeat-x;
	background-color: #FFFFFF;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #534740;
	font-size: 15px;
	line-height: 25px;
}
h1 {
	font-family: "ff-tisa-web-pro", serif, Arial, Helvetica ;
	font-size: 24px;
	margin-bottom: 15px;
	
}
h2 {
	font-size: 20px;
	margin-bottom: 0px;
}
p {
	margin-bottom: 15px;
}
a {
	color: #c7b297;
} 
a:hover {
	color: #302a23;
}   
#container {
	width: 990px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -585px; /* the bottom margin is the negative value of the footer's height */
}
.footer, .push {
	height: 585px;
}

#header {
	width: 980px;
	margin-left: 10px;
	height: 100px;
	color: #FFFFFF;
	background-color: #5E4C42;
	font-size: 15px;
}
#submenu-links {
	float: left;
	width: 384px;
	margin-top: 62px;
}
#logo {
	float: left;
}
#submenu-rechts {
	float: right;
	margin-top: 34px;
	margin-right: 40px;
}

#header a {
	color: #FFFFFF;
	text-decoration: none;
}
#header a:hover  {
	color: #eae2d8;
}
#menu {
	height: 50px;
	clear: both;
	padding-top: 0px;
	margin-left: 54px;
	margin-bottom: 50px;
}
#menu a    {
	text-decoration: none;
}
#menu ul  {
	list-style-type: none;
	padding-left: 0px;
	margin-left: 0px;
	margin-top: 0px;
}
#menu li {
	float: left;
}
#menu ul li a span     {
	color: #53473F;
	padding-right: 15px;
	padding-left: 15px;
	height: 42px;
	padding-top: 20px;
	cursor: pointer;
	display: block;
	text-transform: uppercase;
	font-size: 28px;
	font-weight: bold;
}
#menu ul li a:hover span {
	color: #C7B296;
}
#menu ul li a .current {
	color: #C7B296;
}
#slider {
	width: 935px;
	margin-left: 27px;
	clear: left;
	margin-bottom: 20px;
}
#hamers {
	background-image: url(/front/images-design/icon-hamers.gif);
	width: 75px;
	height: 53px;
	margin-bottom: 20px;
	margin-left: 458px;
	margin-top: 20px;
}
#tools {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
}
#titel {
	width: 900px;
	margin-left: 45px;
	background-image: url(/front/images-design/bg-lijn.gif);
	background-repeat: repeat-x;
	text-align: center;
}
#titel a {
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
	color: #736356;
	background-color: #FFFFFF;
	padding-top: 2px;
	padding-bottom: 2px;
}
#content {
	width: 860px;
	margin-left: 60px;
	margin-top: 30px;
}
#tekst-links {
	width: 410px;
	float: left;
	text-align: right;
	margin-bottom:30px;
}
#tekst-rechts {
	margin-left: 40px;
	width: 410px;
	float: left;
	margin-bottom:30px;
}
#content-blok {
	width: 860px;
	margin-left: 60px;
	margin-top: 30px;
}
#tekst-links-blok {
	width: 410px;
	float: left;
	text-align: right;
	margin-bottom:30px;
}
#tekst-rechts-blok {
	margin-left: 40px;
	width: 410px;
	float: left;
	margin-bottom:30px;
}
#tools-blok {
	text-align: center;
	margin-bottom: 20px;
	margin-top: 20px;
	clear: both;
}
#titel-blok {
	width: 900px;
	margin-left: 45px;
	background-repeat: repeat-x;
	text-align: center;
}
#objecten {
	width: 900px;
	margin-left: 45px;
	clear: left;
	margin-top: 40px;
}
.object {
	width: 290px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	float: left;
	margin-bottom: 20px;
	color: #806E63;
	height: 370px;
}
.object-tekst a {
	color: #534740;
	text-decoration: none;
}
.object-tekst a:hover {
	color: #c7b297;
}

.clear {
	clear: both;
}
#footercontent {
	height: 585px;
	background-repeat: repeat-x;
	background-image: url(/front/images-design/bg-footer-gr.gif);
}
#klanten {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 30px;
	height: 230px;
}
.tekst-groot-metschreef{
	font-size: 45px;
	line-height: 50px;
	font-family: "ff-tisa-web-pro",serif;
	font-style: italic;
	font-weight: 700;
}
.tekst-klein-metschreef {
	font-size: 16px;
	font-family: "ff-tisa-web-pro",serif;
}
.button a {
	padding-top: 6px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	background-color: #C7B297;
	font-size: 19px;
	font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
	color: #FFFFFF;
	text-decoration: none;
}
.button a:hover { 
	background-color: #534740;
}
#naw {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 85px;
	color: #302a23;
	line-height: 21px;
	font-size: 15px;
}
#naw a {
	color: #302a23;
	text-decoration: none;
}
#naw a:hover {
	color: #C7B296;
}
#copyright {
	width: 380px;
	float: left;
}
#adres {
	width: 170px;
	float: left;
	margin-left: 30px;
}
#contact {
	float: left;
	width: 210px;
}
#social {
	width: 110px;
	float: left;
}
.ff-tisa-web-pro{
	font-size: 19px;
	font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
	color: #302a23;
}
.tekst-heelklein {
	font-size: 13px;
	line-height: 19px;
}
a.facebook {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: url(/front/images-design/btn-facebook.gif) no-repeat;
}

a.facebook:hover {
	background: url(/front/images-design/btn-facebookrol.gif) no-repeat;
}

a.google {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: url(/front/images-design/btn-googleplus.gif) no-repeat;
	margin-left: 10px;
	margin-top: 10px;
}

a.google:hover {
	background: url(/front/images-design/btn-googleplusrol.gif) no-repeat;
}
a.twitter {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	background: url(/front/images-design/btn-twitter.gif) no-repeat;
	margin-left: 10px;
}

a.twitter:hover {
	background: url(/front/images-design/btn-twitterrol.gif) no-repeat;
}
a.pinterest {
	display: block;
	float: left;
	width: 50px;
	height: 50px;
	margin-top: 10px;
	background: url(/front/images-design/btn-pinterest.gif) no-repeat;
}
a.pinterest:hover {
	background: url(/front/images-design/btn-pinterestrol.gif) no-repeat;
}
#kaart {
	width: 900px;
	margin-left: 60px;
	clear: left;
	margin-bottom: 40px;
	margin-top: 30px;
}
#klanten-logos {
	width: 930px;
	margin-left: 40px;
	clear: left;
	margin-top: 40px;
}
.logo-klant {
	width: 290px;
	margin-left: 10px;
	margin-right: 10px;
	text-align: center;
	float: left;
	margin-bottom: 15px;
}
.logo-klant a {
	-ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
   filter: alpha(opacity=60);
   opacity: 0.6;
   -webkit-transition: all 0.2s ease-in-out;
   -moz-transition: all 0.2s ease-in-out;
   -o-transition: all 0.2s ease-in-out;
   -ms-transition: all 0.2s ease-in-out;
   transition: all 0.2s ease-in-out;
   
}
.logo-klant a:hover {
   -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
   filter: alpha(opacity=100);
   opacity: 1;
}
.tekst-midden {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	clear: both;
	padding-top: 30px;
	text-align: center;
	padding-bottom: 30px;
}
.tekst-midden a  {
	color: #665951;
	text-decoration: none;
}
.tekst-midden a:hover {
	text-decoration: underline;
}
.cirkel {
	background-color: #746457;
	height: 190px;
	padding-top: 30px;
	padding-right: 30px;
	padding-left: 30px;
	padding-bottom: 30px;
	width: 190px;
	color: #FFFFFF;
	border-radius: 141px;
	text-align: center;
	margin-left: 80px;
}
#footer-extra {
	width: 970px;
	margin-left: auto;
	margin-right: auto;
	color: #746359;
	padding-top: 20px;
	min-height: 230px;
}
.object-tekst h2 a {
	color: #806E63;
	font-size: 17px;
}
.bestellen-midden {
	clear: both;
	text-align: center;
}
.lengte {
	width: 393px;
	height: 30px;
	border: 1px solid #9095A4;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 16px;
	padding-left: 15px;
	outline: 0px;
	background-color: #F0ECE3;
}
.verzend-button {
	background-color: #C7B296;
	color: #EFEBE3;
	width: 150px;
	height: 40px;
	font-size: 16px;
	font-weight: lighter;
	cursor: pointer;
	border-width: 0px;
}
.verzend-button:hover {
	background-color: #5E4C42;
}
.lengte3 {
	width: 391px;
	height: 60px;
	border: 1px solid #9095A4;
	margin-bottom: 15px;
	margin-top: 5px;
	font-size: 16px;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	padding-left: 15px;
	outline: 0px;
	background-color: #EFEBE3;
}
.errorMsg {
	margin-top: 15px;
}
.lijnprijs {
	border-top: 1px solid #5E4C42;
}
.lijn-bottom {
	border-bottom: 1px solid #665950;
}
