/* RD
***********************/

ol, ul {list-style: none;}

#sliderRD {
	height: 450px;
}

#container-slider {
	width: 900px;
	max-width: 900px;
	margin: 0 auto;
}

.slides h2 {
	padding-top: 10px;
	padding-right: 0;
	padding-left: 0;
	font-size: 48px;
	text-transform: uppercase;
	font-weight: 600;
	color: #FFFFFF;
	color: #FFFFFF;
	padding-bottom: 19px;
}
.slides a {
	text-decoration: none;
	color: #53473F;
}

.flex-caption p a {
	padding-top: 6px;
	padding-right: 15px;
	padding-bottom: 8px;
	padding-left: 15px;
	background-color: #C7B297;
	font-size: 19px;
	font-family: "ff-tisa-web-pro", serif, Arial, Helvetica;
	letter-spacing: 1px;
}
.flex-caption p a:hover {
	background-color: #534740;
	color: #FFFFFF;
}
.lijn {
	border-top: 5px solid #FFFFFF;
	width: 700px;
	margin-left: 70px;
}
