
/* Hide sign-up and forgot-password in accounts-UI */
#signup-link {
	background: #FF0;
	/display: none;
	display: none;
	}

#forgot-password-link {
	background: #FF0;
	display: none;
	}

.login-link-text {
	color: #000;
	}

#login-buttons-open-change-password.login-button {
	display: none;
	background: #FF0;
	color: #0F0;
	}
	
