<!-- Pages -->
<template name="cmsPostPages">
	<!--
	{{> cmsGroupNav}}
	-->
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{> cmsPostTab}}
</template>

<!-- Pages -->
<template name="cmsPostPages2">
	{{> cmsGroupNav}}
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB2}}
	</div>
	{{> cmsPostAboutUs}}
</template>
