<!-- PostPages ------------------------------------------------------- -->


<!-- main/x , used for templateblog-->

<template name="frontPostPages">
	<!--
	page = {{Page}}<br>
	group = {{group}}<br>
	slug1 = {{slug1}}<br>
	-->
	{{group_}}
	<!--
	{{> frontPostAboutUs}}
	-->
	{{> frontPostTab}}
</template>


<!-- AboutUS, show all quotes per group -->

<template name="frontPostPagesAboutUs">
	<!--
	page = {{Page}}<br>
	group = {{group}}<br>
	slug1 = {{slug1}}<br>
	-->
	{{group_}}
	<!--
	{{> frontPostTab}}
	-->
	{{> frontPostAboutUs}}
</template>


<!-- Sharing, show all films/books/music per group -->

<template name="frontPostPagesSharing">
	<!--
	page = {{Page}}<br>
	group = {{group}}<br>
	slug1 = {{slug1}}<br>
	-->
	{{group_}}
	{{> frontPostSharing}}
</template>


<!-- Post -->
<template name="frontBlogSlug1">
	<h5>template frontBlogSlug1</h5>
	page = {{page}}<br/>
	group = {{group}}<br/>
	slug1 = {{slug1}}<br/>
	<br/>

	{{#if postFound}}
		{{#each item}}
			id = {{_id}}<br>
			<!--
			slug = {{slug}}<br>
			-->
			<br>
			title = {{title}}<br>
			<!--
			text = {{article}}<br>
			-->
			text = {{{article}}}<br>
			<br>
			seotitle = {{seoTitle}}<br>
			seodescr = {{seoDescr}}<br>
		{{/each}}
	{{else}}
		{{> uiMessage_postNotFound}}
	{{/if}}

</template>


<!-- Blog -->

<!-- List of posts -->
<template name="frontBlogList">
	<h5>template frontBlogList</h5>
	Items list<br/>
	{{#each list}}
		<a href='{{pathFor href}}/{{slug}}' class='listBtn {{listSelected}}'>
			{{title}}
		</a>
		<br>
	{{/each}}
</template>
