
<!-- klanten -->

<template name="klanten">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}

				<div id="tools"><img src="/front/images-design/icon-zaag.gif" width="74" height="47" alt=""/></div>
					<div id="titel" style="background-image:none">
						<h1>Klanten</h1>
					</div>

					<div id="klanten-logos">

						{{#each klant}}
							<div class="logo-klant">
								<a href="{{link}}">
									{{#each image}}
										<img src="{{this.url store='imagesCustomer'}}" width="290" height="150" alt=""/>
									{{/each}}
								</a>
							</div>
						{{/each}}

					</div>

			{{#each item}}

					<div class="tekst-midden">
						<h2>Architecten</h2>
						{{{klantArchitecten}}}
					</div>

					<div class="tekst-midden">
						<h2>Ontwerpers</h2>
						{{{klantOntwerpers}}}
					</div>

			{{/each}}

 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>
