<template name="editPage">
	<div id='main-item'>
		{{#each item}}

			<!-- navbar editTabs -->
			<div id='btn-navbar-post'>
				{{#each list}}
					<div class='listBtn btn blogGroup {{listSelected}}'>{{name}}</div>
				{{/each}}
			</div>

			{{> cmsPostMeta}}

			{{#if is_equal currentTab 'homeText'}} 					{{> cmsEdit_homeText}} {{/if}}
			{{#if is_equal currentTab 'sliderTitle'}} 			{{> cmsEdit_sliderTitle}} {{/if}}
			{{#if is_equal currentTab 'sliderPhoto'}} 			{{> cmsEdit_sliderPhoto}} {{/if}}
			{{#if is_equal currentTab 'highlight'}} 				{{> cmsEdit_highlight}} {{/if}}

			{{#if is_equal currentTab 'maurice'}} 					{{> cmsEdit_maurice}} {{/if}}
			{{#if is_equal currentTab 'anke'}} 							{{> cmsEdit_anke}} {{/if}}
			{{#if is_equal currentTab 'werkwijze'}} 				{{> cmsEdit_werkwijze}} {{/if}}
			{{#if is_equal currentTab 'werkvloer'}} 				{{> cmsEdit_werkvloer}} {{/if}}

			{{#if is_equal currentTab 'klantTitle'}} 				{{> cmsEdit_klantTitle}} {{/if}}
			{{#if is_equal currentTab 'klantPhoto'}} 				{{> cmsEdit_klantPhoto}} {{/if}}
			{{#if is_equal currentTab 'klantArchitecten'}}	{{> cmsEdit_klantArchitecten}} {{/if}}
			{{#if is_equal currentTab 'klantOntwerpers'}}		{{> cmsEdit_klantOntwerpers}} {{/if}}

			{{#if is_equal currentTab 'itemText'}} 					{{> cmsEdit_itemText}} {{/if}}
			{{#if is_equal currentTab 'groupText'}} 				{{> cmsEdit_groupText}} {{/if}}
			{{#if is_equal currentTab 'itemFront'}} 				{{> cmsEdit_itemFront}} {{/if}}
			{{#if is_equal currentTab 'itemProduct'}} 			{{> cmsEdit_itemProduct}} {{/if}}
			{{#if is_equal currentTab 'itemPhoto'}} 				{{> cmsEdit_itemPhoto}} {{/if}}
			{{#if is_equal currentTab 'itemDetail'}} 				{{> cmsEdit_itemDetail}} {{/if}}
			{{#if is_equal currentTab 'itemProductDetail'}} {{> cmsEdit_itemProductDetail}} {{/if}}
			{{#if is_equal currentTab 'itemSlides'}} 				{{> cmsEdit_itemSlides}} {{/if}}
			{{#if is_equal currentTab 'itemVariations'}}		{{> cmsEdit_itemVariations}} {{/if}}
			{{#if is_equal currentTab 'itemVariations_th'}}	{{> cmsEdit_itemVariations_th}} {{/if}}

			{{#if is_equal currentTab 'contactText'}} 			{{> cmsEdit_contactText}} {{/if}}
			{{#if is_equal currentTab 'contactPhoto'}} 			{{> cmsEdit_contactPhoto}} {{/if}}

			{{#if is_equal currentTab 'quote'}} 						{{> cmsEdit_quote}} {{/if}}
			{{#if is_equal currentTab 'seo'}} 							{{> cmsEdit_seo}} {{/if}}

		{{/each}}
	</div>
</template>
