<!-- bestelformulier -->
<template name="bedankt">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			
				<div id="content">
					<form>
						<div id="tekst-links" style="text-align:left; margin-left:50px; width:360px;">
							<h1>Bedankt,</h1>
							<p><strong>voor uw bestelling. U hoort spoedig van ons.</strong></p>
							<p><em>Met vriendelijke groet,<br>
							BLOK</em></p>
						</div><!--tekst-links -->
						<div id="tekst-rechts">
						</div>
					<!--tekst-rechts -->
					</form>
				</div><!--einde content -->
			
			<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


