<!-- bestelformulier_tuinhaard -->
<template name="bestelformulier_tuinhaard">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
				<div id="content">
					<form>
						<div id="tekst-links" style="text-align:left; margin-left:50px; width:360px;">
							{{#each item}}
						
								<h1>{{title}}</h1>
								
								<!--{{> uitvoeringen}}-->
								
								<h3>Afmetingen:</h3>
								<p>
									<select id='selectVariation'>
										{{#each size}}
											<option data-num="{{index}}">{{name}} &nbsp; &euro; {{price}}</option>
										{{/each}}
									</select>
								</p> 
								
								<h3>Opties:</h3>
								<p>
									{{#each option}}
										<p class='optionInputs' style="margin-bottom:0;">
											<input type="checkbox" id="checkbox{{index}}" value="">
											{{name}} &euro; {{price}}
										</p> 
									{{/each}}
								</p> 
								<br/>
								
								<table width="350" border="0" cellspacing="0" cellpadding="0">
									<tbody>
										<tr>
											<td width="80" align="right">&euro; {{price_A}}</td>
											<td>&nbsp;</td>
										</tr>
										<tr>
											<td align="right" class="lijn-bottom">&euro; 50.00</td>
											<td class="lijn-bottom">&nbsp; &nbsp;(verzendkosten binnen Nederland)</td>
										</tr>
										<tr>
											<td align="right">&euro; {{price_B}}</td>
											<td>&nbsp;</td>
										</tr>
									</tbody>
								</table>
								<p><br>
								Levertijd afhankelijk van het product<br> 
								(mits op voorraad)<br>
								Buitenhaard: 5 werkdagen<br>
								Lampen: 5-10 werkdagen<br>
								Tafels, stoelen en kasten: 6-8 weken</p>
								
							{{/each}}
						</div>
						<!--tekst-links -->



						<div id="tekst-rechts">
						
							<h1>Uw gegevens:</h1>

							<input id="voornaam" name="voornaam" type="text" class="lengte" placeholder="Voornaam" autocomplete="off">
							<br>
							<input id="tussenvoegsel" name="tussenvoegsel" type="text" class="lengte" placeholder="Tussenvoegsel" autocomplete="off">
							<br>
							<input id="achternaam" name="achternaam" type="text" class="lengte" placeholder="Achternaam *" autocomplete="off">
								<span class='form-alert'>{{{notification_name}}}</span>
							<br>
							<input id="straatnaam" name="straatnaam" type="text" class="lengte" placeholder="Straatnaam" autocomplete="off">
							<br>
							<input id="huisnummer" name="huisnummer" type="text" class="lengte" placeholder="Huisnummer" autocomplete="off">
							<br>
							<input id="postcode" name="postcode" type="text" class="lengte" placeholder="Postcode" autocomplete="off">
							<br>
							<input id="stad" name="stad" type="text" class="lengte" placeholder="Stad" autocomplete="off">
							<br>
							<input id="email" name="email" type="text" class="lengte" placeholder="E-mail *" autocomplete="off">
								<span class='form-alert'>{{{notification_email}}}</span>
							<br>
							<input id="telefoon-mobiel" name="telefoon-mobiel" type="text" class="lengte" placeholder="Telefoon / mobiel nummer *" autocomplete="off">
								<span class='form-alert'>{{{notification_phone}}}</span>
							<br>
							<textarea id="opmerkingen" class="lengte3" name="opmerkingen" cols="45" rows="5" placeholder="Opmerkingen" autocomplete="off"></textarea>



							<h1>&nbsp;</h1>
							<h1>Verzenden of ophalen?</h1>
							<p>Naast de mogelijkheid tot verzending kunt u uw bestelling natuurlijk ook komen ophalen in onze werkplaats te Eindhoven. De verzendkosten komen dan te vervallen. Ons adres is:</p>

							<p>Gagelstraat 6a<br>
							5611BH Eindhoven</p>

							<p>
								<!--<input type="radio" name="bestelling" id="verzenden" value="verzenden">-->
								<input type="radio" name="bestelling" value="verzenden" checked="checked">
								<label for="bestelling">Verzenden </label>
							</p>
							<p>
								<!--<input type="radio" name="bestelling" id="ophalen" value="ophalen">-->
								<input type="radio" name="bestelling" value="ophalen">
								<label for="bestelling">Ophalen </label>
							</p>

							<h1>&nbsp;</h1>
							<h1>Algemene voorwaarden</h1>
							<p class="inspringen">Download onze&nbsp;<a href="../algemene_voorwaarden_blok.pdf" target="_blank">algemene voorwaarden</a>.</p>
							<p style="margin-bottom:0;">
							<input type="radio" name="terms" value="accept">
							Ik <span class="inspringen2">ga akkoord met</span> de algemene voorwaarden *.</p>
							<br>
							<span class='form-alert'>{{{notification_terms}}}</span>
							<p>&nbsp;</p>

							<input name="submit" type="submit" class="verzend-button" id="submit" value="Verzenden" />
				
						</div>
						<!--tekst-rechts -->
					</form>
				</div><!--einde content -->
			
			
			
			
			<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


