<!-- Post Agenda -->
<template name="cmsPostAboutUs">
	<div id='main-item'>
	
		<!-- postSpecial tabs -->
		<div id='btn-navbar-post'>
			{{#each list}}
				<div class='listBtn btn blogGroup {{listSelected}}'>{{name}}</div>
			{{/each}}
		</div>
		
		<!-- postSpecial tab -->
		{{#each item}}
		
			{{> cmsPostMeta}}
			
			{{#if is_equal currentTab 'post'}} 		{{> cmsPostAboutUs_Post}} 		{{/if}}
			{{#if is_equal currentTab 'SEO'}} 		{{> cmsPostAboutUs_SEO}} 		{{/if}}
			
			{{> cmsUpdate updateStatus}}
			
		{{/each}}
	</div>
</template>


<template name="cmsPostAboutUs_Post">

	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' type='text' maxlength='65'>
	</div>		

	<div class='itemlabel'>Quote</div>
	<div class='itemfield'>
		<textarea id='input_quote' class='seoDescr' maxlength='160'>{{quote}}</textarea>
	</div>

	<div class='itemlabel'>Person</div>
	<div class='itemfield'>
		<input id='input_person' value={{person}} class='input-small' type='text' maxlength='65'>
	</div>		
	
	<div class='itemlabel'>Article</div>
	<div class='itemfield'>
		<textarea id='input_colF_text' class='article'>{{colF_text}}&nbsp;</textarea>
		<script>placeCKeditor('input_colF_text');</script>
	</div>

</template>


<template name="cmsPostAboutUs_SEO">
	<div class='itemlabel'>SEO title</div>
	<div class='itemfield'>
		<input id='input_seoTitle' value={{seoTitle}} class='input-small' maxlength='65' type='text'>
	</div>
	<div class='itemlabel'>SEO Description</div>
	<div class='itemfield'>
		<textarea id='input_seoDescr' class='seoDescr' maxlength='160'>{{seoDescr}}</textarea>
	</div>
</template>

