<!-- show 1 quote, main page -->

<template name="frontPostAboutUs_2">
	{{#if postFound}}
		{{#each item}}
			<div class="clear"></div>
			<div id="titelblokken">
				<div id="titel-logo"><img src="/images-design/one-sense-element-gr.gif" width="63" height="107" alt=""/></div>
				<div id="titel-rechts">
					<div id="titel-logo-boven"><img src="/images-design/one-sense-element-kl.gif" width="38" height="31" alt=""/></div>
					<div id="titel"><h1>{{title}}</h1></div>
				</div>
			</div>
			<div class="twee-kolommen"><p>&nbsp;</p><p>&nbsp;</p><!--deze graag vast erin zetten -->
					<div class="links">
						<!--{{{colL_text}}}-->
						{{> frontPostAboutUsQuote_2}}
					</div>
				<div class="rechts">
					<!-- allways show agenda -->
					{{> frontAgendaBlokGrijsShort}}
					{{#if is_equal colR_showBrown 'checked'}}
						<div class="highlight-blokbruin">
							<h2>{{colR_title}}</h2>
							{{{colR_text}}}
							{{#each image2}}
								<img src="{{this.url store='sizeNormal'}}" width="222"/><br>
							{{/each}}
						</div>
					{{/if}}
				</div>
			</div>
			<div class="clear"></div>
			<!--
			seoTitle									= {{seoTitle}}				<br>
			seoDescr									= {{seoDescr}}				<br>
			-->
		{{/each}}
	{{else}}
		{{> uiMessage_postNotFound}}
	{{/if}}
</template>


<!-- show 1 quote -->

<template name="frontPostAboutUsQuote_2">
	{{#each item}}
		<h2>{{quote}}</h2>
		<p>
		<em>{{person}}</em></p>
		<p>{{{colF_text}}}</p>
		<div class="terugbutton"><a href="#" onclick="history.back();"><img src="/images-design/btn-pijl-terug.gif" height=20 width=20></a></div>
	{{/each}}
</template>
