<!-- show all quotes per group, main page -->

<template name="frontPostAboutUs">
	{{#if postFound}}
		{{#each item}}
			<div class="clear"></div>

			<div id="titelblokken">
				<div id="titel-logo"><img src="/images-design/one-sense-element-gr.gif" width="63" height="107" alt=""/></div>
				<div id="titel-rechts">
					<div id="titel-logo-boven"><img src="/images-design/one-sense-element-kl.gif" width="38" height="31" alt=""/></div>
					<div id="titel"><h1>{{title}}</h1></div>
				</div>
			</div>

			{{#if is_equal intro_visible 'checked'}}
				 <div class="contentblokken">
					{{> pijl_verder}}
					<div class="tekst">
							{{{intro_text}}}
						</div>
						<div class="plaatje">
							{{#each image1}}
								<img src="{{this.url store='sizeNormal'}}" width="444" />
							{{/each}}
						</div>
				 </div>
				 <div class="clear"></div>
			{{/if}}

		<!-- only to repair layout-->
				<div class="quote">
				</div>

			<div class="een-kolom">
				{{> frontPostAboutUsQuote}}
			</div>

		<!-- only to repair layout-->
				<div class="quote">
				</div>

			<div class="clear"></div>

		{{/each}}
	{{else}}
		{{> uiMessage_postNotFound}}
	{{/if}}
</template>



<!-- show all quotes per group -->

<template name="frontPostAboutUsQuote">
	<h3 class="leftmargin-13">{{groupName}}</h3>

	{{#each item}}
		<!--begin ervaring -->
			<p class="bruin-groot">
				<span class="quote-apostrof .min-margin">&#8216;</span>{{quote}}<span class="quote-apostrof">&#8217;</span>
			</p>
			<p class="naam-anderen">
				{{person}}
			</p>

			{{#if is_equal frontLanguageHelper 0}}
				<p class="left-bottom-margin"><a href="ervaring.html" target="_blank" class="btnQuote geenregelafstand button-verder">lees meer</a></p>
			{{/if}}
			{{#if is_equal frontLanguageHelper 1}}
				<p class="left-bottom-margin"><a href="ervaring.html" target="_blank" class="btnQuote geenregelafstand button-verder">continue reading</a></p>
			{{/if}}

		<!--eind ervaring -->
	{{/each}}

	<div class="terugbutton"><a href="#" onclick="history.back();"><img src="/images-design/btn-pijl-terug.gif" height=20 width=20></a></div>

</template>
