<!-- carousel -->
<template name="homeSlider">

	<div id="slider">
		<div id="sliderRD" height="450" frameborder="0" width="935" title="slider">
			<div id="container-slider">
				<!--=============================
				Markup for FADE animation
				=================================-->
				<div class="flex-container">
					<div class="flexslider">
						<ul class="slides">
						&nbsp;
						{{#each slide}}

							<li>
								{{#each image}}
									<a href="{{sliderLinkUrl}}"><img src="{{this.url store='imagesCarousel'}}" alt="" /></a>
								{{/each}}

								<div class="flex-caption">
									<a href="{{sliderLinkUrl}}"><h2>{{title}}</h2></a>
									<div class="lijn">&nbsp;</div>
									<p><a href="{{sliderLinkUrl}}">{{sliderLinkText}}</a></p>
								</div>
							</li>

						{{/each}}

							
						</ul>
					</div>
				</div>
			</div>
			&nbsp;
		</div>
	</div>
</template>
