<!-- home -->
<template name="home">

	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each item}}
				{{> homeSlider}}
				<div id="hamers"></div>
				<div id="titel">
					<h1><a href="blokmeubel.html">{{title}}</a></h1>
				</div>
				<div id="content">
					<div id="tekst-links">
						{{{homeTextL}}}
					</div><!--tekst-links -->
					<div id="tekst-rechts">
						{{{homeTextR}}}
					</div><!--tekst-rechts -->
				</div><!--einde content -->
				{{> homeHili}}
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>
