<!-- hili -->
<template name="homeHili">
	<div id="objecten">
		{{#each hili}}
			{{#each hiliPreview}}
				<div class="object">
					<div class="object-foto">
						<a href="{{hiliUrl}}">
							{{#each hiliImage}}
								<img src="{{this.url store='imagesThumb'}}"  width="290" height="300" alt=""/>
							{{/each}}
						</a>
					</div>
					<div class="object-tekst">
						<h2><a href="{{hiliUrl}}">{{title}}</a></h2>
						<p>{{subTitle}}</p>
					</div>
				</div>
			{{/each}}
		{{/each}}
	</div><!--einde objecten -->
</template>
