<!-- List A			main page  		/main  ---------------------------------------- -->
<template name="cmsListA">
	<div class='list'>
		<h3>Pagina</h3>
		{{#if postFound}}
			{{#each list}}
				<div class='btn col active listBtn'>Main</div>
			{{/each}}
		{{else}}
			<!-- Add or delete manually if count != 1 -->
			<div id='tempAdd' class='btn icon action blue'>+</div>
			<br>
			{{#each list}}
				<div id='tempDel' class='btn icon action red'>&Cross;</div>
				{{title}}<br>
			{{/each}}
		{{/if}}
	</div>
</template>


<!-- List B1		singleSlug  	/main/item ------------------------------------ -->
<template name="cmsListB">
	<div class='list'>
		<h3>Items</h3>
		<div id='listAdd' class='btn icon action blue'>+</div>
		{{#if addDialogShow}}
			{{> cmsBlogAdd}}
		{{/if}}
		{{#if upDownShow}}
			{{> cmsButtonsUpDown moveSatus}}
		{{/if}}
		{{> cmsListDelete deleteStatus}}
		{{#each list}}
			<div class='btn col {{listSelected}} listBtn'>{{title}}</div>
		{{/each}}
	</div>
</template>



<!-- List B2		doubleSlug, 	/main/group/item ------------------------------ -->
<template name="cmsListB2">
	<div class='list'>
		<h3>Items</h3>
		<div id='listAdd' class='btn icon action blue'>+</div>
		{{#if addDialogShow}}
			{{> cmsBlogAdd}}
		{{/if}}
		{{#if upDownShow}}
			{{> cmsButtonsUpDown moveSatus}}
		{{/if}}
		{{> cmsListDelete deleteStatus}}
		{{#each list}}
			<div class='btn col {{listSelected}} listBtn'>{{title}}</div>
		{{/each}}
	</div>
</template>



<!-- List C			doubleSlug, /main/group ------------------------------------ -->
<template name="cmsListC">
	<div class='list'>
		<h3>Groups</h3>
		{{#if addDelPossible}}
			<div id='listAdd' class='btn icon action blue'>+</div>
			{{#if addDialogShow}}
				{{> cmsBlogAdd}}
			{{/if}}
			{{> cmsButtonsUpDown moveSatus}}
			{{> cmsListDelete deleteStatus}}
		{{/if}}
		{{#each list}}
			<div class='btn col {{listSelected}} listBtn'>{{groupName}}</div>
		{{/each}}
	</div>
</template>
