<template name="items_bestellen">
	{{#if showBestel}}
		<div class="bestellen-midden">
			<p class="button"><a href="#" id='btnBestelformulier'>bestellen</a></p>
		</div>
	{{/if}}

	{{#if showBestel_tuinhaard}}
		<div class="bestellen-midden">
			<p class="button"><a href="#" id='btnBestelformulier_tuinhaard'>bestellen</a></p>
		</div>
	{{/if}}
	
	{{#if showContact}}
		<div class="bestellen-midden">
			<p class="button"><a href="#" id='btnContact'>contact</a></p>
		</div>
	{{/if}}
	
</template>
