
<!-- item slider -->
<template name="items_slider">

	<div id="slider" align="center" style="margin-bottom:60px; margin-top:30px;">
		<div class="flex-container">
			<div class="flexslider">
				<ul class="slides">
					&nbsp;
					{{#each slideList}}
						{{#each image}}
							<li>
								<img src="{{this.url store='imagesSlide'}}" alt="" />
							</li>
						{{/each}}
					{{/each}}
				</ul>
			</div>
		</div>
	</div>
	
</template>
