<!-- items -->

<!-- /main -->
<template name="items">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each page}}
				{{#if is_equal pageName 'exposities'}} 	{{> items_headExposities}} 	{{/if}}
				{{#if is_equal pageName 'publicaties'}} {{> items_headPublicaties}} {{/if}}
				<div id="objecten">
					{{#each thumb}}
						
					
						<!--
						{{#if is_equal detailShow 'checked'}}
						-->
						{{#if showDetail}}
							<div class="object">
								<div class="object-foto">
									<a href="{{currentURL}}/{{slug}}" class="btn">
										{{#each image}}
											<img src="{{this.url store='imagesThumb'}}" width="290" height="300" alt=""/>
										{{/each}}
									</a>
								</div>
								<div class="object-tekst">
									<h2><em class="tekst-heelklein">{{dateText}}</em></h2>
									<h2>{{title}}</h2>
									<p><a href="{{currentURL}}/{{slug}}" class="btn">{{subTitle}}</a></p>
								</div>
							</div>
						{{else}}
							<div class="object">
								<div class="object-foto">
										{{#each image}}
											<img src="{{this.url store='imagesThumb'}}" width="290" height="300" alt=""/>
										{{/each}}
								</div>
								<div class="object-tekst">
									<h2><em class="tekst-heelklein">{{dateText}}</em></h2>
									<h2>{{title}}</h2>
									<p>
										{{subTitle}}
									</p>
								</div>
							</div>
						{{/if}}

						
					{{/each}}
				</div><!--einde objecten -->
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


<!-- /main/x -->
<template name="items_slug1">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each item}}
			  {{> items_slider}}
				<div id="titel" style="background-image:none">
					<h1>{{title}}</h1>
				</div>
				<div id="content">
					<div id="tekst-links">
						{{{detailL}}}
					</div>
					<div id="tekst-rechts" style="font-style:italic; font-size:17px;">
						{{{detailR}}}
						{{> uitvoeringen}}
					</div>
				</div>
			  {{> items_bestellen}}
				<div class="tekst-midden">
					<h2><a href="#" class="btn ff-tisa-web-pro">Terug naar overzicht</a></h2>
				</div>
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>



<template name="items_headExposities">
	<div id="tools"><img src="/front/images-design/icon-slijptol.gif" width="64" height="53" alt=""/></div>
	<div id="titel" style="background-image:none"><h1>Exposities</h1></div>
</template>

<template name="items_headPublicaties">
  <div id="tools"><img src="/front/images-design/icon-zaag1.gif" width="105" height="47" alt=""/></div>
	<div id="titel" style="background-image:none"><h1>Publicaties</h1></div>
</template>


