<!-- uitvoeringen -->
<template name="uitvoeringen">

	{{#if show_meubels}}
		<p>
			<strong>Uitvoeringen:</strong><br>
			{{#each variation}}
				{{name}}<br>
			{{/each}}
		</p>
	{{/if}}

	{{#if show_tuinhaard}}
		<!--
		<p>
			<strong>Uitvoeringen:</strong><br>
			{{#each variation_th}}
				{{name}}<br>
			{{/each}}
		</p>
		-->
	{{/if}}

</template>
