
<template name="cmsEdit_quote">

	<div class='itemlabel'>Quote</div>
	<div class='itemfield'>
		<textarea id='input_quoteSentence' class='seoDescr' maxlength='300'>{{quoteSentence}}</textarea>
		<script>placeCKeditor('input_quoteSentence');</script>
	</div>

	<div class='itemlabel'>Person</div>
	<div class='itemfield'>
		<input id='input_quotePerson' value={{quotePerson}} class='input-small' type='text' maxlength='120'>
	</div>

	{{> cmsUpdate updateStatus}}
</template>
