
<template name="cmsEdit_maurice">
	<div class='itemlabel'>Naam</div>
	<div class='itemfield'>
		<input id='input_mauriceName' value={{mauriceName}} class='input-small' maxlength='50' type='text'>
	</div>
	<div class='itemlabel'>Mobiel</div>
	<div class='itemfield'>
		<input id='input_mauriceMobile' value={{mauriceMobile}} class='input-small' maxlength='50' type='text'>
	</div>
	<div class='itemlabel'>Beschrijving</div>
	<div class='itemfield'>
		<textarea id='input_mauriceDescr' class='seoDescr' maxlength='500'>{{mauriceDescr}}</textarea>
	</div>
	{{> cmsUpdate updateStatus}}
	{{> cmsEdit_imageUpload_photo_maurice}}
</template>



<template name="cmsEdit_anke">
	<div class='itemlabel'>Naam</div>
	<div class='itemfield'>
		<input id='input_ankeName' value={{ankeName}} class='input-small' maxlength='50' type='text'>
	</div>
	<div class='itemlabel'>Mobiel</div>
	<div class='itemfield'>
		<input id='input_ankeMobile' value={{ankeMobile}} class='input-small' maxlength='50' type='text'>
	</div>
	<div class='itemlabel'>Beschrijving</div>
	<div class='itemfield'>
		<textarea id='input_ankeDescr' class='seoDescr' maxlength='500'>{{ankeDescr}}</textarea>
	</div>
	{{> cmsUpdate updateStatus}}
	{{> cmsEdit_imageUpload_photo_anke}}
</template>



<template name="cmsEdit_werkwijze">
	<div class='itemlabel'>Linker kolom</div>
	<div class='itemfield'>
		<textarea id='input_homeTextL' class='article'>{{homeTextL}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextL');</script>
	</div>
	<div class='itemlabel'>Rechter kolom</div>
	<div class='itemfield'>
		<textarea id='input_homeTextR' class='article'>{{homeTextR}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextR');</script>
	</div>
	{{> cmsUpdate updateStatus}}
</template>



<template name="cmsEdit_werkvloer">
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{footerTitle}} class='input-small' maxlength='50' type='text'>
	</div>
	
	<div class='itemlabel'>Linker kolom</div>
	<div class='itemfield'>
		<textarea id='input_textL' class='article'>{{textL}}&nbsp;</textarea>
		<script>placeCKeditor('input_textL');</script>
	</div>
	<div class='itemlabel'>Rechter kolom</div>
	<div class='itemfield'>
		<textarea id='input_textR' class='article'>{{textR}}&nbsp;</textarea>
		<script>placeCKeditor('input_textR');</script>
	</div>
	{{> cmsUpdate updateStatus}}
</template>




