
<template name="footer">
  <div class="footer">
    <div id="footercontent">
			{{#if is_equal footerSwitch 0}} {{> footerQuote}}			{{/if}}
			{{#if is_equal footerSwitch 1}} {{> footerTextMain}}	{{/if}}
			{{#if is_equal footerSwitch 2}} {{> footerTextGroup}}	{{/if}}
			
			{{> footerNAW}}
    </div>
  </div>
</template>


<template name="footerQuote">
	{{#each item}}
		<div id="klanten">
			<img src="/front/images-design/quotes.gif" width="50" height="35" alt=""/>
			<p class="tekst-groot-metschreef">{{{quoteSentence}}}</p>
			<p class="tekst-klein-metschreef">{{{quotePerson}}}</p>
			{{#if footerQuoteLink}} 
				<p class="button"><a href="/klanten" >meer tevreden klanten ></a></p>
			{{/if}}
		</div><!--einde klanten -->
	{{/each}}
</template>


<template name="footerTextMain">
	<!--footerTextMain-->
	{{#each item}}
		<div id="footer-extra">
			<div id="titel" style="background-image:none"><h1>{{footerTitle}}</h1></div>
			<div id="content">
				<div id="tekst-links">	{{{textL}}}	</div>
				<div id="tekst-rechts">	{{{textR}}}	</div>
			</div>
		</div><!--einde footer-extra -->
	{{/each}}
</template>


<template name="footerTextGroup">
	<!--footerTextGroup-->
	{{#each item}}
		<div id="footer-extra">
			<div id="titel" style="background-image:none"><h1>{{groupName}}</h1></div>
			<div id="content">
				<div id="tekst-links">	{{{textGroupL}}}	</div>
				<div id="tekst-rechts">	{{{textGroupR}}}	</div>
			</div>
		</div><!--einde footer-extra -->
	{{/each}}
</template>


<template name="footerNAW">
	<div id="naw">
		<div id="copyright">
			<p class="ff-tisa-web-pro">Over ons</p>
			<p>BLOK meubel maakt unieke interieurs, meubels en objecten. In eigen beheer en in opdracht. Varierend van bijzondere keukens, tot een eikenhouten veranda en van een klassiek fauteuil tot een robuuste stalen buitenkachel.</p>
			<p class="tekst-heelklein">
				Copyright 2013 Blok meubel. All rights reserved.<br>
				Design: Locografix & Design al dente<br> 
				Realisation: Design al dente
			</p>
		</div>
		<div id="adres">
			<p class="ff-tisa-web-pro">Adres</p>
			<p>Gagelstraat 6a<br>5611BH Eindhoven<br>The Netherlands</p>
			<p class="ff-tisa-web-pro">&nbsp;</p>
			<p class="ff-tisa-web-pro"><a href="#" id='btnSitemap'>Sitemap</a></p>
		 </div>
			<div id="contact">
			 <p class="ff-tisa-web-pro">Contact</p>
			 <p><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#98;&#108;&#111;&#107;&#109;&#101;&#117;&#98;&#101;&#108;&#46;&#110;&#108;">&#105;&#110;&#102;&#111;&#64;&#98;&#108;&#111;&#107;&#109;&#101;&#117;&#98;&#101;&#108;&#46;&#110;&#108;</a><br>040-8796278<br>BTW: NL817842159B01</p>
			</div>
			<div id="social">
				<p class="ff-tisa-web-pro">Social</p>
				<p>
					<a href="https://www.facebook.com/pages/BLOK-meubel/239856636055178?fref=ts" class="facebook" title="naar de Blokmeubel Facebook pagina" target="_blank"></a>
					<a href="https://twitter.com/BLOKmeubel" class="twitter" title="naar Blokmeubel Twitter pagina" target="_blank"></a>
					<a href="http://www.pinterest.com/blokmeubel/" class="pinterest" title="naar Blokmeubel Pinterest pagina" target="_blank"></a>
					<a href="https://plus.google.com/107233476427934122206/posts" class="google" title="naar Blokmeubel Google Plus pagina" target="_blank"></a>
				</p>
			</div>
	</div><!--einde naw -->
</template>

