<head>

	<meta charset="UTF-8">
	<title>BLOK meubel | design meubel veranda keuken interieur kachel</title>
	<meta name="description" id="description" content="BLOK maakt en ontwerpt o.a. unieke interieurs, design meubels, keukens, eikenhouten veranda’s, robuuste stalen buitenkachels">
	
	<!--<link href="css/opmaak.css" rel="stylesheet" type="text/css">-->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
	
	<!-- Polyfill for IE<10 -->
	<script src="https://cdn.polyfill.io/v1/polyfill.min.js"></script>
	
	<script src="//use.typekit.net/yaf8frr.js"></script>
	<script>try{Typekit.load();}catch(e){}</script>

	<!--
	<meta 
		name="description" id="description"
		content="Blok description">
		
	<meta property="og:site_name" 	content="Blok" />  
	<meta property="og:url" 		content="http://blok.nl" />

	<meta property="og:title" 		content="Blok" />
	<meta property="og:description" content="Blok description" />  
	-->
	
	<link rel="icon" sizes="16x16 32x32" href="/favicon.ico?v=2">
	
	<script type="text/javascript" src="/back/ckeditor/ckeditor.js"></script>
	<script type="text/javascript" src="/back/ckeditor/adapters/jquery.js"></script>
	
	<!--
	<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-52e579bc6a1e3f4c"></script>
	-->
	
	<!--
	<script src="https://apis.google.com/js/platform.js" async defer></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-53696948-1', 'auto');
		ga('send', 'pageview');
	</script>
	-->
	
</head>
