<template name="notFound">
	<p style='text-align: center;'>
		Sorry, page not found.
	</p>
</template>

<template name="unknown_page">
	<p style='text-align: center;'>
		Sorry, unknown_page.
	</p>
</template>
