<!-- CKeditor image chooser -->
<template name="upload_image">
	<div id='cmsContainer'>
		<div id='cms'>
			<div id='upload'>
				<!--funcNum={{funcNum}}<br><br>-->
				<label class="fileUploaderContainer">
					Kies afbeelding
					<input name="File" type="file" class="fileUploader">
				</label>
				<br><br>
				{{#each imageList}}
					{{#unless this.isUploaded}}
						{{> FS.UploadProgressBar}}
						Loading...
					{{else}}
						<img class='upload_img' src="{{this.url store='coll_pix_article_01'}}" alt='image'><br/>
						<p>{{this.name}}</p>
						<!--<div id='icon_updating'><img src='preloader_transparent.gif'/></div>-->
						<div class="modal-footer">
							<div class='btn action' id='cancelUrl'>Cancel</div>
							<div class='btn action green float_right' id='sendUrl' name="{{this.url store='coll_pix_article_01'}}">Okay</div>
						</div>
					{{/unless}}
				{{/each}}
				<div class="help_text">Kies een afbeelding (jpg).</div>
			</div>
		</div>
	</div>
</template>


<!-- CKeditor file chooser -->
<template name="upload_file">
	<div id='cmsContainer'>
		<div id='cms'>
			<div id='upload'>
				<!--funcNum={{funcNum}}<br><br>-->
				<label class="fileUploaderContainer">
					Kies Bestand
					<input name="File" type="file" class="fileUploader">
				</label>
				<br><br>
				{{#each imageList}}
					{{#unless this.isUploaded}}
						{{> FS.UploadProgressBar}}
						Loading...
					{{else}}
						<p>{{this.name}}</p>
						<!-- <p>{{this.size}}</p> -->
						<!--<div id='icon_updating'><img src='preloader_transparent.gif'/></div>-->
						<div class="modal-footer">
							<div class='btn action' id='cancelUrl'>Cancel</div>
							<div class='btn action green float_right' id='sendUrl' name="{{this.url store='coll_pix_article_01'}}">Okay</div>
						</div>
					{{/unless}}
				{{/each}}
				<div class="help_text">
					Kies een bestand (doc, docx, pdf, txt). <br/>
					Maximale bestandsgrootte: 1Mb
				</div>
			</div>
		</div>
	</div>
</template>




