
<template name="cmsEdit_highlight">
	<div class='itemlabel'>&nbsp;</div>
	<div class='itemfield'>
		<div class='btn icon action blue addQuote'>+</div>
	</div>

	{{#if hiliShow}}

		<div class='itemlabel'>Highlight</div>
		<div class='itemfield'>
			<div class='btn-bar'>
				{{#each hiliNav}}
					<div class='btn btnSlideNum {{active}}'>{{number}}</div>
				{{/each}}
				&nbsp;
			</div>
		</div>

		<div class='items_spacer'></div>

		{{#each hili}}
			<div class='itemlabel'>Page</div>
			<div class='itemfield'>
				<div class='btn-bar'>
					{{#each hiliPage}}
						<div class='btn hiliPageBtn {{hiliPageSel}}'>{{title}}</div>
					{{/each}}
				</div>
			</div>

			<div class='itemlabel'>Group</div>
			<div class='itemfield'>
				<div class='btn-bar'>
					{{#each hiliGroup}}
						<div class='btn hiliGroupBtn {{hiliGroupSel}}'>{{title}}</div>
					{{/each}}
					&nbsp;
				</div>
			</div>

			<div class='itemlabel'>Item</div>
			<div class='itemfield'>
				<div class='btn-bar'>
					{{#each hiliItem}}
						<div class='btn hiliItemBtn {{hiliItemSel}}'>{{title}}</div>
					{{/each}}
					&nbsp;
				</div>
			</div>

			<div class='items_spacer'></div>

			{{#each hiliPreview}}

				<div class='itemlabel-low'>Title</div>
				<div class='itemfield-low'>{{title}} &nbsp;</div>

				<div class='itemlabel-low'>Subtitle</div>
				<div class='itemfield-low'>{{subTitle}} &nbsp;</div>

				<div class='itemlabel'>Foto (thumb)</div>
				<div class='itemfield'>
					{{#each hiliImage}}
						{{#if isUploaded}}
							<img src="{{this.url store='imagesThumb'}}" /><br>
							{{this.name}}<br>
						{{/if}}
					{{/each}}
				</div>

			{{/each}}

		{{/each}}
		<div class='itemlabel'>&nbsp;</div>
		<div class='itemfield'>
			<div class='btn icon action red btnDelSlide'>&Cross;</div>
		</div>

	{{/if}}
</template>
