
<template name="cmsEdit_homeText">

	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>

	<div class='itemlabel'>Left column</div>
	<div class='itemfield'>
		<textarea id='input_homeTextL' class='article'>{{homeTextL}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextL');</script>
	</div>

	<div class='itemlabel'>Right column</div>
	<div class='itemfield'>
		<textarea id='input_homeTextR' class='article'>{{homeTextR}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextR');</script>
	</div>

	{{> cmsUpdate updateStatus}}
	
</template>


<template name="cmsEdit_sliderTitle">
	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<!--
		<input id='input_sliderTitle' value={{sliderTitle}} class='input-small' maxlength='120' type='text'>
		-->
		<input id='input_sliderTitle' value={{title}} class='input-small' maxlength='120' type='text'>
	</div>
	<div class='itemlabel'>Text link</div>
	<div class='itemfield'>
		<input id='input_sliderLinkText' value={{sliderLinkText}} class='input-small' maxlength='120' type='text'>
	</div>
	<div class='itemlabel'>URL link</div>
	<div class='itemfield'>
		<input id='input_sliderLinkUrl' value={{sliderLinkUrl}} class='input-small' maxlength='120' type='text'>
	</div>
	{{> cmsUpdate updateStatus}}
</template>


<template name="cmsEdit_sliderPhoto">
	{{> cmsEdit_imageUpload_carousel}}
</template>

