
<!-- Datepicker -->
<template name="cmsPikaday">
		<div id='datepicker' class='itemlabel'>Date</div>
		<div class='itemfield'>
			<div id='datepickerBtn' class='btn action blue'>Choose date</div>
			&nbsp;
			{{dateNice}}
		</div>
</template>
