<!-- cms extLinks -->
<template name="cmsExtLinks">
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListB}}
	</div>
	{{> cmsExtLinksEdit}}
</template>


<!-- cms extLinks edit -->
<template name="cmsExtLinksEdit">
	<br>
	<br>
	{{#each item}}
	
				{{> cmsPostMeta}}

	
		<div id='main-item'>

			<div class='itemlabel'>Title</div>
			<div class='itemfield'>
				<input id='input_title' value={{title}} class='input-small' type='text' maxlength='120'>
			</div>

			<div class='itemlabel'>Type</div>
			<div class='itemfield'>
				<div id='btn-bar'>
					<div class='btn btnLinkType0 {{linkTypeAct0}}'>URL</div>
					<div class='btn btnLinkType1 {{linkTypeAct1}}'>File</div>
				</div>
			</div>
			<div class='itemlabel'>&nbsp;</div>
			<div class='itemfield-remarks'>
				Voor 'URL', vul hieronder een URL in.<br> 
				Bij File moet een bestand worden geupload.<br>
			</div>
			
			<div class='itemlabel'>URL</div>
			<div class='itemfield'>
				<input id='input_linkUrl' value={{linkUrl}} class='input-small' type='text' maxlength='120'>
			</div>
			
			<div class='itemlabel'>File</div>
			<div class='itemfield'>
				{{> cmsExtLinksEdit_upload_1}}
			</div>
			<div class='itemlabel'>&nbsp;</div>
			<div class='itemfield-remarks'>
				Toegestane formaten: 'pdf', 'doc', 'docx' en 'txt'.<br>
				Maximale bestandsgrootte 4Mb.<br>
			</div>
	
			{{> cmsUpdate updateStatus}}

		</div>
	{{/each}}
</template>


<!-- uploads -------------------------------------------------------------- -->
<template name="cmsExtLinksEdit_upload_1">
	<div class='btn action blue fileUploadWrap'>
		Upload file
		<input type='file' id='fileUploader' class='fileUpload'>
	</div>
	{{#each file}}
		{{#if isUploaded}}
			<br>
			<a href="{{this.url store='coll_file_article_01'}}" target="_blank">{{this.name}}</a>
			&nbsp;({{this.size}}&nbsp;bytes)<br><br>
			<div class='btn action red'>&Cross;</div>
		{{else}}
			loading...
		{{/if}}
	{{/each}}
</template>


