<!-- SEO -->

<template name="cmsSEO">
	<div id='main-list'>
		{{> cmsLanguage}}
	</div>

	{{#each item}}
		<div id='main-item'>
			{{> cmsID}}

			<div class='item'>
				<div class='itemlabel'>
					<h3>Title</h3>
				</div>
				<div class='itemfield'>
					<input type='text' id='input_title' class='input-small' maxlength='65' value={{seoTitle}}>
					<div class='itemfield-remarks'>
						Deze titel verschijnt in het tabblad van de browser en als titel bij zoekresultaten, bijv bij Google en Bing. (Maximaal circa 55 karakters)
					</div>
				</div>
			</div>
			
			<div class='item'>
				<div class='itemlabel'>
					<h3>Description</h3>
				</div>
				<div class='itemfield'>
					<textarea id='input_descr' class='seoDescr' maxlength='180'>{{seoDescription}}</textarea>
					<div class='itemfield-remarks'>
						Dit is de omschrijving bij het het zoekresultaat. Gebruik bijvoorbeeld kernwoorden die in het artikel staan. (Maximaal circa 155 karakters)
					</div>
				</div>
			</div>
			
			{{> cmsUpdate updateStatus}}
		</div>
	{{/each}}
</template>

