
<!-- contact -->

<template name="contact">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each item}}

				<div id="tools"><img src="/front/images-design/icon-bouw.gif" width="80" height="43" alt=""/></div>
				<div id="titel" style="background-image:none"><h1>Contact</h1></div>
				<div id="content">
				
					<div id="tekst-links" style="text-align:center;">
					{{#each image}}
						<img src="{{this.url store='imagesPhoto'}}" width="250" height="250" alt=""/>
					{{/each}}
					</div><!--tekst-links -->
					
					<div id="tekst-rechts">
						<div class="cirkel">
							<h2>Blokmeubel</h2>
								{{{title}}}
							<p class="button"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#98;&#108;&#111;&#107;&#109;&#101;&#117;&#98;&#101;&#108;&#46;&#110;&#108;">email</a></p>
						</div>
					</div><!--tekst-rechts -->
					
				</div><!--einde content -->
				
				<div id="kaart">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2486.956878493462!2d5.470549500000001!3d51.44058580000001!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d910045e355d%3A0x5ef25cf36fcf70cd!2sGagelstraat+6A%2C+Philips%2C+5611+BH+Eindhoven!5e0!3m2!1snl!2snl!4v1414487927704" width="860" height="400" frameborder="0" style="border:0"></iframe>
				</div>

			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>





