<template name="frontNav">
	{{#if routeReady}}

		<div id="header">
			<div id="submenu-links"></div>

			<!--
				Aur-Blok-2
			-->

			<div id="logo">
				{{#each button1_1}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/logo-blokmeubel.gif" width="200" height="100" alt="Blokmeubel"/>
					</a>
				{{/each}}
			</div>
			<div id="submenu-rechts">
				{{#each button1_1}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/home.gif" width="42" height="43" alt=""/>
					</a>
				{{/each}}
				{{#each button1_2}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/info.gif" width="43" height="43" alt=""/>
					</a>
				{{/each}}
				{{#each button1_3}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/klanten.gif" width="45" height="43" alt=""/>
					</a>
				{{/each}}
				{{#each button1_4}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/exposities.gif" width="47" height="43" alt=""/>
					</a>
				{{/each}}
				{{#each button1_5}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/media.gif" width="45" height="43" alt=""/>
					</a>
				{{/each}}
				{{#each button1_6}}
					<a href='{{pathFor myUrl}}' class='btn1'>
						<img src="/front/images-design/contact.gif" width="40" height="43" alt=""/>
					</a>
				{{/each}}
			</div>
		</div>


		<div id="menu" align="center">
			<ul>
				{{#each button1_row2}}
					<li><a href='{{pathFor myUrl}}' class='btn1'><span>{{buttonName}}</span></a></li>
				{{/each}}
			</ul>
		</div>

	{{/if}}
</template>
