<!-- Group -->
<template name="cmsPostGroupEdit_">
	{{#each item}}
		<div id='main-item'>

			{{> cmsPostMeta}}
			
				<div class='itemlabel'>Group name</div>
				<div class='itemfield'>
					<input type='text' id='input_title' class='input-small' maxlength='65' value={{groupName}}>
				</div>
			
				<!--
				<div class='itemlabel'>SEO title</div>
				<div class='itemfield'>
					<input type='text' id='input_seoTitle' class='input-small' maxlength='65' value={{seoTitle}}>
				</div>
			
				<div class='itemlabel'>SEO Description</div>
				<div class='itemfield'>
					<textarea id='input_seoDescr' class='seoDescr' maxlength='160'>{{seoDescr}}</textarea>
				</div>
				-->
				
			{{> cmsUpdate updateStatus}}
			
		</div>
	{{/each}}
</template>

