
<!-- Blog groups -->
<template name="cmsPostGroups">
	<!--
	{{> cmsGroupNav}}
	-->
	<div id='main-list'>
		{{> cmsLanguage}}
		{{> cmsListC}}
	</div>
	<!--
	{{> cmsBlogGroupEdit}}
	-->
	{{> cmsPostGroupEdit_}}
</template>
