<!-- Groups -->
<template name="frontPostPagesGrouped">
	<!--<h5>template frontMain</h5>-->
	<!--
	page = {{Page}}<br>
	group = {{group}}<br>
	slug1 = {{slug1}}<br>
	slug2 = {{slug2}}<br>
	-->
	{{group_}}
	{{> frontPostAboutUs_2}}
</template>


<!-- List of groups -->
<template name="frontBlogGroupList">
	<h5>template frontBlogGroupList</h5>
	Groups list<br>
	{{#each list}}
		<a href='{{pathFor urlBase}}/{{groupSlug}}' class='listBtn {{listSelected}}'>
			{{groupName}}
			&nbsp;
			{{urlBase}}/{{groupSlug}}
		</a>
		<br>
	{{/each}}
</template>


<!-- List of posts -->
<template name="frontBlogGroupSlug1">
	<h5>template frontBlogGroupSlug1</h5>
	Items list<br/>
	{{#each list}}
		<a href='{{pathFor urlBase}}/{{groupSlug}}/{{slug}}' class='listBtn {{listSelected}}'>
			{{title}}
			<!--
			&nbsp;
			{{urlBase}}/{{groupSlug}}/{{slug}}
			-->
		</a>
		<br>
	{{/each}}
</template>


<!-- Post -->
<template name="frontBlogGroupSlug2">
	<h5>template frontBlogGroupSlug2</h5>
	post
	page = {{page}}<br/>
	group = {{group}}<br/>
	slug = {{slug}}<br/>
	<br/>

	{{#if postFound}}
		{{#each item}}
			id = {{_id}}<br/>
			slug = {{slug}}<br/>
			title = {{title}}<br/>
			text = {{article}}<br/>
			seotitle = {{seoTitle}}<br/>
			seodescr = {{seoDescr}}<br/>
	<!--
	-->
		{{/each}}
	{{else}}
		{{> uiMessage_postNotFound}}
	{{/if}}
</template>
