

<template name="chooseLanguage">
	<div class='temp-border'>
		<h5>chooseLanguage</h5>
		{{#each buttons}}
			<a class='button {{classSelected}}'>
				{{buttonName}}
			</a>
		{{/each}}
	</div>
</template>



<template name="chooseLanguage2">
	{{#each buttonsLang}}
		{{#if is_equal index 0}}
			<!--Nederlands-->
			<span class="lichtgrijs">nl | </span><a href="#" class='buttonLang'>uk</a>
		{{else}}
			<!--Engels-->
			<a href="#" class='buttonLang'>nl</a> | uk <span class="lichtgrijs"></span>
		{{/if}}
	{{/each}}
</template>

