
<!-- blokmeubel -->

<template name="blokmeubel">
	<div class="wrapper">
		<div id="container">
			{{> frontNav}}
			{{#each item}}

				<div id="tools"><img src="/front/images-design/icon-boor.gif" width="54" height="57" alt=""/></div>
				<div id="titel" style="background-image:none">
					<h1>BLOKmeubel</h1>
				</div>
				<div id="content">
					<div id="tekst-links" style="text-align:center;">
						{{#each imageMaurice}}
							<p><img src="{{this.url store='imagesPhoto'}}" width="250" height="250" alt=""/></p>
						{{/each}}
						<h2>{{mauriceName}}</h2>
						<p>{{mauriceMobile}}</p>
						<p class="button"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#98;&#108;&#111;&#107;&#109;&#101;&#117;&#98;&#101;&#108;&#46;&#110;&#108;">email</a></p>
						<p>{{mauriceDescr}}</p>
					</div><!--tekst-links -->
					<div id="tekst-rechts" style="text-align:center;">
						{{#each imageAnke}}
							<p><img src="{{this.url store='imagesPhoto'}}" width="250" height="250" alt=""/></p>
						{{/each}}
						<h2>{{ankeName}}</h2>
						<p>{{ankeMobile}}</p>
						<p class="button"><a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#98;&#108;&#111;&#107;&#109;&#101;&#117;&#98;&#101;&#108;&#46;&#110;&#108;">email</a></p>
						<p>{{ankeDescr}}</p>
					</div><!--tekst-rechts -->
				</div><!--einde content -->
				
				<div id="tools-blok"><img src="/front/images-design/icon-tang.gif" width="54" height="57" alt=""/></div>
				<div id="titel-blok">
					<h1>Werkwijze</h1></div>
				<div id="content-blok">
					<div id="tekst-links-blok">
						{{{homeTextL}}}
					</div><!--tekst-links-blok -->
					<div id="tekst-rechts-blok">
						{{{homeTextR}}}
					</div><!--tekst-rechts-blok -->
				</div><!--einde content-blok -->
			
			
			{{/each}}
 		<div class="clear"></div>
		</div><!--einde container -->
		<div class="push"></div>
	</div><!--einde wrapper -->
	{{> footer}}
</template>


