
<!-- item variations tuinhaard -->
<template name="cmsEdit_itemVariations_th">

	<!-- sizes ............................................................. -->
 
	<div class='itemlabel'>Aantal afmetingen</div>
	<div class='itemfield'>
		<div class='btn-bar'>
			{{#each sizesCountList}}
				<div class='btn btnSizeCountNum {{active}}'>{{number}}</div>
			{{/each}}
			&nbsp;
		</div>
	</div>

	<div class='itemlabel'>Afmeting</div>
	<div class='itemfield'>
		<div class='btn-bar'>
			{{#each sizesList}}
				<div class='btn btnSizeNum {{active}}'>{{number}}</div>
			{{/each}}
			&nbsp;
		</div>
	</div>
 
	{{#each size}}
		<div class='itemlabel'>Naam afm</div>
		<div class='itemfield'>
			<input id='inputSizeName' value={{name}} type='text' class='input-small' maxlength='150'>
			&nbsp;
		</div>
		<div class='itemlabel'>Prijs afm</div>
		<div class='itemfield'>
			<input id="inputSizePriceEuro" value={{priceEuro}} type="text" name="quantity" class='input-small prijs1 inputSizePriceEuro' maxlength='5'/>
			<span></span>
			<input id="inputSizePriceCent" value={{priceCent}} type="text" name="quantity" class='input-small prijs2 inputSizePriceEuro' maxlength='2'/>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<span>{{price}} &nbsp; euro</span>
			<div id='priceWarning' class='itemfield-warning'>
				<span id="errmsgSize"></span>&nbsp;
			</div>
		</div>
	{{/each}}
 
	<div class='items_spacer'></div>
 

	<!-- options ............................................................. -->
	
	<!--
	<div class='itemlabel'>&nbsp;</div>
	<div class='itemfield'>
		<div class='btn icon action blue addQuote'>+</div>
	</div>
	-->

	{{#if slidesShow}}

		<div class='itemlabel'>Opties</div>
		<div class='itemfield'>
			<div class='btn-bar'>
				<div class='btn icon action blue addQuote'>+</div>
				{{#each variationList}}
					<div class='btn btnSlideNum {{active}}'>{{number}}</div>
				{{/each}}
				&nbsp;
			</div>
		</div>
		
		<!--<div class='items_spacer'></div>-->

		{{#each variation}}

			<div class='itemlabel'>Naam</div>
			<div class='itemfield'>
				<input id='inputName' value={{name}} type='text' class='input-small' maxlength='150'>
				&nbsp;
			</div>

			<div class='itemlabel'>Prijs</div>
			<div class='itemfield'>
				<input id="inputPriceEuro" value={{priceEuro}} type="text" name="quantity" class='input-small prijs1 inputSizePriceEuro' maxlength='5'/>
				<span></span>
				<input id="inputPriceCent" value={{priceCent}} type="text" name="quantity" class='input-small prijs2 inputSizePriceEuro' maxlength='2'/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span>{{price}} &nbsp; euro</span>
				<div id='priceWarning' class='itemfield-warning'>
					<span id="errmsg"></span>&nbsp;
				</div>
			</div>
			
		{{/each}}

		<div class='itemlabel'>&nbsp;</div>
		<div class='itemfield'>
			<div class='btn icon action red btnDelSlide'>&Cross;</div>
		</div>
		
		<!--{{> cmsUpdate updateStatus}}-->
		
	{{else}}	
		
		<!-- Zero options found -->
		<div class='itemlabel'>Opties</div>
		<div class='itemfield'>
			<div class='btn-bar'>
				<div class='btn icon action blue addQuote'>+</div>
				&nbsp;
			</div>
		</div>
		
		<div class='itemlabel'>&nbsp;</div>
		<div class='itemfield'>
			<div class='itemfield-remarks'>
				Voeg eventueel tuinhaard-opties toe.<br>
			</div>
		</div>

	{{/if}}

	{{> cmsUpdate updateStatus}}
	
</template>



