
<!-- item text ........................................................ -->

<template name="cmsEdit_itemText">

	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{footerTitle}} class='input-small' maxlength='50' type='text'>
	</div>

	<div class='itemlabel'>Linker kolom</div>
	<div class='itemfield'>
		<textarea id='input_homeTextL' class='article'>{{textL}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextL');</script>
	</div>

	<div class='itemlabel'>Rechter kolom</div>
	<div class='itemfield'>
		<textarea id='input_homeTextR' class='article'>{{textR}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextR');</script>
	</div>

	{{> cmsUpdate updateStatus}}

</template>


<!-- group text ........................................................ -->

<template name="cmsEdit_groupText">

	<div class='itemlabel'>Title</div>
	<div class='itemfield'>
		<input id='input_title' value={{groupName}} class='input-small' maxlength='120' type='text'>
	</div>

	<div class='itemlabel'>Subtitle</div>
	<div class='itemfield'>
		<input id='input_subTitle' value={{subTitle}} class='input-small' maxlength='120' type='text'>
	</div>
	
	<div class='itemlabel'>Linker kolom</div>
	<div class='itemfield'>
		<textarea id='input_homeTextGroupL' class='article'>{{textGroupL}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextGroupL');</script>
	</div>

	<div class='itemlabel'>Rechter kolom</div>
	<div class='itemfield'>
		<textarea id='input_homeTextGroupR' class='article'>{{textGroupR}}&nbsp;</textarea>
		<script>placeCKeditor('input_homeTextGroupR');</script>
	</div>
	
	{{> cmsUpdate updateStatus}}
	
</template>

