
<!-- item variations -->
<template name="cmsEdit_itemVariations">
	<div class='itemlabel'>&nbsp;</div>
	<div class='itemfield'>
		<div class='btn icon action blue addQuote'>+</div>
	</div>

	{{#if slidesShow}}

		<div class='itemlabel'>Uitvoering</div>
		<div class='itemfield'>
			<div class='btn-bar'>
				{{#each variationList}}
					<div class='btn btnSlideNum {{active}}'>{{number}}</div>
				{{/each}}
				&nbsp;
			</div>
		</div>
		
		<div class='items_spacer'></div>

		{{#each variation}}

			<div class='itemlabel'><h3>Naam</h3></div>
			<div class='itemfield'>
				<input id='inputName' value={{name}} type='text' class='input-small' maxlength='150'>
				&nbsp;
			</div>

			<div class='itemlabel'><h3>Prijs</h3></div>
			<div class='itemfield'>
				<input id="inputPriceEuro" value={{priceEuro}} type="text" name="quantity" class='input-small prijs1' maxlength='5'/>
				<span></span>
				<input id="inputPriceCent" value={{priceCent}} type="text" name="quantity" class='input-small prijs2' maxlength='2'/>
				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
				<span>{{price}} &nbsp; euro</span>
				<div id='priceWarning' class='itemfield-warning'>
					<span id="errmsg"></span>&nbsp;
				</div>
			</div>
			
		{{/each}}

		<div class='itemlabel'>&nbsp;</div>
		<div class='itemfield'>
			<div class='btn icon action red btnDelSlide'>&Cross;</div>
		</div>
		
		{{> cmsUpdate updateStatus}}
		
	{{else}}	
		
		<!-- show hint for adding variations if non present -->
		<div class='itemlabel'>&nbsp;</div>
		<div class='itemfield'>
			<div class='itemfield-remarks'>
				Er is minstens 1 uitvoering met prijs nodig voor het bestel-formulier.<br>
			</div>
		</div>

	{{/if}}
	

	
	
</template>



