<!-- Hilites -->

<template name="cmsHilites">
	<div id='main-list'>
		<h3>Hilites</h3>
		&nbsp;
	</div>

	<div id='main-item'>

		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<hr/>

		{{#each images}}
			<div class='item'>

				{{#unless this.isUploaded}}
					Loading...
				{{else}}
					<!--
					{{this.extension}}
					{{this.type}}
					-->
					<img src="{{this.url store='sizeNormal'}}" alt='' /><br/>
					{{this.name}}<br/>
					{{this.size}}&nbsp;bytes
					<!--
					<a href="{{this.url}}" target="_blank">
						<img
							src="{{this.url
								store='sizeNormal'
								uploading='/images/loading_circle.gif'
								storing='/images/loading_circle.gif'}}"
							alt='' />
					</a>
					-->
					<br/>
					<div class='btn action red'>X</div>
					<!--
					{{this.url}}<br/>
					-->
				{{/unless}}
			</div>


			<hr/>
		{{/each}}
	</div>
</template>
