<template name="cmsPage">

	<!-- nav tabs -->
	{{> cmsTabs}}

	<!-- tab page -->
	{{#if is_equal cmsEditName 'cmsHomePage'}} 						{{> cmsHomePage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsHomeSlider'}} 					{{> cmsHomeSlider}} {{/if}}
	{{#if is_equal cmsEditName 'cmsHomeHighlights'}} 			{{> cmsHomeHighlights}} {{/if}}

	{{#if is_equal cmsEditName 'cmsBlokmeubelPage'}} 			{{> cmsBlokmeubelPage}} {{/if}}

	{{#if is_equal cmsEditName 'cmsKlantenPage'}} 				{{> cmsKlantenPage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsKlantenKlanten'}} 			{{> cmsKlantenKlanten}} {{/if}}
	{{#if is_equal cmsEditName 'cmsKlantenArchitecten'}} 	{{> cmsKlantenArchitecten}} {{/if}}
	{{#if is_equal cmsEditName 'cmsKlantenOntwerpers'}} 	{{> cmsKlantenOntwerpers}} {{/if}}

	{{#if is_equal cmsEditName 'cmsItemsPage'}} 					{{> cmsItemsPage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsItemsProducts'}} 			{{> cmsItemsProducts}} {{/if}}

	{{#if is_equal cmsEditName 'cmsItemsGrpPage'}} 				{{> cmsItemsGrpPage}} {{/if}}
	{{#if is_equal cmsEditName 'cmsItemsGrpGroups'}} 			{{> cmsItemsGrpGroups}} {{/if}}
	{{#if is_equal cmsEditName 'cmsItemsGrpProducts'}}		{{> cmsItemsGrpProducts}} {{/if}}

	{{#if is_equal cmsEditName 'cmsContactPage'}} 				{{> cmsContactPage}} {{/if}}

	{{#if is_equal cmsEditName 'cmsBoilerplate'}} 				{{> cmsBoilerplate}} {{/if}}

	<!-- footer -->
	<div id='main-footer'>
		CMS 2015
	</div>

</template>
