<!-- show post meta data -->

<template name="cmsPostMeta">
	<!--
	<div class='itemlabel-low'>&nbsp;</div>
	<div class='itemfield-low'><b>Post meta data</b> &nbsp;</div>
	<br>
	-->
	<!--
	{{> cmsID}}
	{{> cmsPostLang}}
	{{> cmsPageBase}}
	{{> cmsPostGroup}}
	{{> cmsPostSlug}}
	<div class='itemlabel-low'>&nbsp;</div>
	<div class='itemfield-low'>&nbsp;</div>
	-->
</template>

<template name="cmsID">
	<div class='itemlabel-low'>_id</div>
	<div class='itemfield-low'>{{_id}} &nbsp;</div>
</template>


<!-- General templates for checking post and group ID -->
<!-- used by cmsPost and cmsBlogGroup -->

<template name="cmsPostLang">
	<div class='itemlabel-low'>language</div>
	<div class='itemfield-low'>{{language}} &nbsp;</div>
</template>

<template name="cmsPageBase">
	<div class='itemlabel-low'>page</div>
	<div class='itemfield-low'>{{page}} &nbsp;</div>
</template>

<template name="cmsPostGroup">
	<div class='itemlabel-low'>group</div>
	<div class='itemfield-low'>{{groupSlug}} &nbsp;</div>
</template>

<template name="cmsPostSlug">
	<div class='itemlabel-low'>URL</div>
	<div class='itemfield-low'>{{slug}} &nbsp;</div>
</template>
