<template name="opsomming_aboutUs">
	{{#each group}}
		<h3 class="leftmargin-13">{{title}}</h3>
		{{> opsomming_aboutUsQuote title}}

			{{#if is_equal frontLanguageHelper 0}}
				<p><a href="#" class="btnGroup button-lichtgrijs geenregelafstand">meer ervaringen</a></p>
			{{/if}}
			{{#if is_equal frontLanguageHelper 1}}
				<p><a href="#" class="btnGroup button-lichtgrijs geenregelafstand">more experiences</a></p>
			{{/if}}

		<p>&nbsp;</p>
	{{/each}}
	<br>
</template>


<template name="opsomming_aboutUsQuote">
	{{#each item ..}}
		<!--begin ervaring -->
			<p class="bruin-groot">
				<span class="quote-apostrof .min-margin">&#8216;</span>{{quote}}<span class="quote-apostrof">&#8217;</span>
			</p>
			<p class="naam-anderen">
				{{person}}
			</p>
			<p class="left-bottom-margin">

			{{#if is_equal frontLanguageHelper 0}}
					<a href="ervaring.html" target="_blank" class="btnQuote geenregelafstand button-verder">lees meer</a>
			{{/if}}
			{{#if is_equal frontLanguageHelper 1}}
					<a href="ervaring.html" target="_blank" class="btnQuote geenregelafstand button-verder">continue reading</a>
			{{/if}}

			</p>
		<!--eind ervaring -->
	{{/each}}
</template>
