
<!-- front opsomming sharing, left column ------------------------------------------------ -->

<template name="opsomming_sharing">
	{{#each group}}
		<h2>{{title}}</h2>
		{{> opsomming_sharing_1 title}}

			{{#if is_equal frontLanguageHelper 0}}
				<p><a href="#" class="btnGroup button-gr geenregelafstand">meer {{title}}</a></p>
			{{/if}}
			{{#if is_equal frontLanguageHelper 1}}
				<p><a href="#" class="btnGroup button-gr geenregelafstand">more {{title}}</a></p>
			{{/if}}

		<h2>&nbsp;</h2>
	{{/each}}
	<br>
</template>


<template name="opsomming_sharing_1">
	{{#each item ..}}
		<p>
			<strong class="bruin">{{title}}</strong><br>
			<em>{{{colF_text}}}</em>
		</p>

		{{#if is_equal ../../slug 'muziek'}} 			{{> opsomming_sharing_1_muziek}}		{{/if}}
		{{#if is_equal ../../slug 'music'}} 			{{> opsomming_sharing_1_muziek}}		{{/if}}

		{{#if is_equal ../../slug 'boeken'}}			{{> opsomming_sharing_1_boeken}}		{{/if}}
		{{#if is_equal ../../slug 'books'}}				{{> opsomming_sharing_1_boeken}}		{{/if}}

		{{#if is_equal ../../slug 'filmpjes'}}		{{> opsomming_sharing_1_muziek}}		{{/if}}
		{{#if is_equal ../../slug 'short-films'}}	{{> opsomming_sharing_1_muziek}}		{{/if}}

		{{#if is_equal ../../slug 'cinemaNL'}}		<!-- cinema -->											{{/if}}
		{{#if is_equal ../../slug 'cinemaEN'}}		<!-- cinema -->											{{/if}}

	{{/each}}
</template>

<template name="opsomming_sharing_1_muziek">
			<!-- muziek -->
				<p>
					<iframe
						width="521"
						height="391"
						src="https://www.youtube.com/embed/{{mediaUrl}}?rel=0"
						frameborder="0"
						allowfullscreen>
					</iframe>
				</p>
				<p align="right">
					<a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyoutube.com/watch?v={{mediaUrl}}" target="_blank">
						<img src="/images-design/btn-facebook.gif" width="22" height="22" alt=""/>
					</a>
					<a href="https://plus.google.com/share?url=http://www.youtube.com/watch?v={{mediaUrl}}" target="_blank">
						<img src="/images-design/btn-googleplus.gif" width="22" height="22" alt=""/>
					</a>
					<a href="http://www.linkedin.com/shareArticle?mini=true&url=http://www.youtube.com/watch?v={{mediaUrl}}" target="_blank">
						<img src="/images-design/btn-linked-in.gif" width="22" height="22" alt=""/>
					</a>
				</p>
</template>



<template name="opsomming_sharing_1_boeken">
			<!-- boeken -->
			<p align="right">
				<a href="{{mediaUrl}}" target="_blank" class="geenregelafstand button-verder">

				{{#if is_equal frontLanguageHelper 0}}
						meer info
				{{/if}}
				{{#if is_equal frontLanguageHelper 1}}
						more info
				{{/if}}

				</a>
			</p>
</template>
