<!-- front opsomming small Left column ------------------------------------------------ -->

<template name="opsomming"> 
	{{#if is_equal page 'coaching.individuele-begeleiding'}} 	{{> opsomming_coaching}} 	{{/if}}

	{{#if is_equal page 'inspiratie.lezingen'}} 							{{> opsomming_extLinks}} 	{{/if}}
	{{#if is_equal page 'info.folders'}} 											{{> opsomming_extLinks}} 	{{/if}}
	{{#if is_equal page 'actueel.nieuwsbrief'}} 							{{> opsomming_extLinks}} 	{{/if}}

	{{#if is_equal page 'inspiratie.om-te-delen'}} 						{{> opsomming_sharing}} 	{{/if}}
	
</template>



<!-- front opsomming big Full column ------------------------------------------------ -->

<template name="opsomming_fullColumn"> 
	{{#if is_equal page 'one-sense.anderen-over-ons'}} 				{{> opsomming_aboutUs}} {{/if}}
</template>





