






<template name="opsomming_coaching"> 
	{{#if is_equal slug '_main'}} 
		<ul class="opsomming">
			{{#each item}}
				<li><a href="{{slug}}" class="btnList">{{title}}</a></li>
				<!-- this path is not correct, it misses the second foldername in url -->
			{{/each}}
			<!--
			<h3><a href="/actueel/sense-talk/{{slug}}" class="btnList">{{title}}</a></h3>
			<a href="{{pathFor route='post.show'}}">Post Show</a>
			-->
		</ul>
		<p>&nbsp;</p>
	{{/if}}
</template>


<!-- lezingen, etc -->

<template name="opsomming_extLinks"> 
	<ul>
		{{#each item}}
		
			{{#if is_equal linkType 0}} 
				<!--url -->
				<li><a href="{{linkUrl}}" target="_blank" class="button-verder2">{{title}}</a></li>
				<!--<li><a href="#" target="_blank" class="button-verder2">Spiegelhuis</a></li>-->
			{{else}}
				<!-- file -->
				{{> opsomming_extLinksFile}}
				<!--<li><a href="#" target="_blank" class="button-verder2">Spiegelhuis</a></li>-->
			{{/if}}
		{{/each}}
	</ul>
	<p>&nbsp;</p>
</template>

<template name="opsomming_extLinksFile"> 
	{{#each file}}
		<li><a href="{{this.url store='coll_file_article_01'}}" target="_blank" class="button-verder2">
			{{../title}}
		</a></li>
	{{/each}}
</template>






