
<!-- Route, Google maps -->

<template name="googleMaps">
	{{#if is_equal page 'contact.plan-je-route'}}
		<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2487.273641944746!2d5.4730699!3d51.4347683!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d9067f817731%3A0xbcf5a736d8a04d10!2sDe+Rungraaf+64%2C+5611+KG+Eindhoven!5e0!3m2!1snl!2snl!4v1417106701308" width="524" height="400" frameborder="0" style="border:0"></iframe>
		<h2>&nbsp;</h2>
	{{/if}}
</template>
