
<!-- carousel---------------------------------------------- -->
<template name="cmsEdit_imageUpload_carousel">
	<div class='itemlabel'>Slider foto</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			Afmeting: 900 x 400 pixels.<br>
		</span>
		{{#each image}}
			{{#if isUploaded}}
				<img src="{{this.url store='imagesCarousel'}}" width='444'/><br>
				{{this.name}}<br>
				<div class='btn action red'>&Cross;</div>
			{{else}}
				<div class="spinnerCfsUpload"></div>
				<br>
				Uploading...
			{{/if}}
		{{/each}}
	</div>

	{{#each imageTemp}}
			<img src="{{this.url store='imagesCarousel'}}" width='120'/><br>
	{{/each}}
</template>


<!-- thumb---------------------------------------------- -->
<template name="cmsEdit_imageUpload_thumb">
	<div class='itemlabel'>Foto (thumb)</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			Afmeting: 289 x 300 pixels.<br>
		</span>
		{{#each image}}
			{{#if isUploaded}}
				<img src="{{this.url store='imagesThumb'}}" /><br>
				{{this.name}}<br>
				<div class='btn action red'>&Cross;</div>
			{{else}}
				<div class="spinnerCfsUpload"></div>
				<br>
				Uploading...
			{{/if}}
		{{/each}}
	</div>
</template>


<!-- photo maurice ---------------------------------------------- -->
<template name="cmsEdit_imageUpload_photo_maurice">
	<div class='itemlabel'>Foto</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			Afmeting: 250 x 250 pixels, rond kader.<br>
		</span>
		{{#each image}}
			{{#if isUploaded}}
				<img src="{{this.url store='imagesPhoto'}}" /><br>
				{{this.name}}<br>
				<div class='btn action red'>&Cross;</div>
			{{else}}
				<div class="spinnerCfsUpload"></div>
				<br>
				Uploading...
			{{/if}}
		{{/each}}
	</div>
</template>


<!-- photo anke ---------------------------------------------- -->
<template name="cmsEdit_imageUpload_photo_anke">
	<div class='itemlabel'>Foto</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			Afmeting: 250 x 250 pixels, rond kader.<br>
		</span>
		{{#each image}}
			{{#if isUploaded}}
				<img src="{{this.url store='imagesPhoto'}}" /><br>
				{{this.name}}<br>
				<div class='btn action red'>&Cross;</div>
			{{else}}
				<div class="spinnerCfsUpload"></div>
				<br>
				Uploading...
			{{/if}}
		{{/each}}
	</div>
</template>


<!-- photo contact ---------------------------------------------- -->
<template name="cmsEdit_imageUpload_photo_contact">
	<div class='itemlabel'>Foto</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			Afmeting: 250 x 250 pixels, rond kader.<br>
		</span>
		{{#each image}}
			{{#if isUploaded}}
				<img src="{{this.url store='imagesPhoto'}}" /><br>
				{{this.name}}<br>
				<div class='btn action red'>&Cross;</div>
			{{else}}
				<div class="spinnerCfsUpload"></div>
				<br>
				Uploading...
			{{/if}}
		{{/each}}
	</div>
</template>



<!-- customer ---------------------------------------------- -->
<template name="cmsEdit_imageUpload_customer">
	<div class='itemlabel'>Foto</div>
	<div class='itemfield'>
		<div class='btn action blue fileUploadWrap'>
			Upload image
			<input type='file' id='fileUploader' class='fileUpload'>
		</div>
		<span class='itemfield-remarks'>
			Afmeting: 289 x 150 pixels, grijstinten.<br>
		</span>
		{{#each image}}
			{{#if isUploaded}}
				<img src="{{this.url store='imagesCustomer'}}" /><br>
				{{this.name}}<br>
				<div class='btn action red'>&Cross;</div>
			{{else}}
				<div class="spinnerCfsUpload"></div>
				<br>
				Uploading...
			{{/if}}
		{{/each}}
	</div>
</template>




