<!-- Text -->

<template name="cmsText">

	<div id='main-list'>
		{{> cmsLanguage}}
	</div>

	<div id='main-item'>

		{{#each item}}
				{{> cmsID}}
				<div class='item'>
					<div class='itemlabel'>
						<h3>Title</h3>
					</div>
					<div class='itemfield'>
						<input type='text' id='input_title' class='input-small' maxlength='65' value={{title}}>
					</div>
				</div>
				<div class='item'>
					<div class='itemlabel'>
						<h3>Text</h3>
					</div>
					<div class='itemfield'>
						<textarea id='input_descr' class='article'>{{article}}</textarea>
					</div>
				</div>
				{{> cmsUpdate updateStatus}}
		{{/each}}

	</div>

</template>
